.curseclient
crafttweaker.log
hei_bookmarks.ini
BotaniaVars.dat
astralsorcery/gatewayFilter/worldFilter.dat
usernamecache.json
usercache.json
TombManyGraves/
Logs/
JourneyMap/
crash-reports/
ChatTweaks/
Caches/
asm/
saves/
shaderpacks/
resourcepacks/
mods/OptiFine_1.12.2_HD_U_G5.jar
options.txt
optionsof.txt
config/chattweaks.cfg
config/tconstruct_oredictcache.dat
config/xaerominimap_entities.json
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/VersionChecker.cfg
config/TwitchIntegration/twitch_channels.json
config/startuptimer/startup_times.json
fancymenu_data/last_world.fmdata
XaerosWorldMap/
XaerosWaypoints/