.curseclient
crafttweaker.log
hei_bookmarks.ini
BotaniaVars.dat
astralsorcery/gatewayFilter/worldFilter.dat
usernamecache.json
usercache.json
TombManyGraves/
Logs/
JourneyMap/
crash-reports/
ChatTweaks/
Caches/
astralsorcery/
asm/